<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>EMS | Forget Password</title>
    <link rel="stylesheet" href="css/employees/login.css" />
  </head>
  <body>
    <% if(typeof message !== 'undefined'){ %>
    <h4><%= message %></h4>
    <% } %>

    <div class="wrapper">
      <div class="title">Reset Password</div>
      <form action="" method="post">
        <br />
        <div class="field">
          <input type="password" name="password" id="" />
          <label>New Password</label>
          <input type="hidden" name="employ_id" value="<%= employ_id %>" />
        </div>
        <br /><br />
        <div class="field">
          <input type="submit" value="Update Password" />
        </div>
        <!-- <div class="signup-link">
                Not a member? <a href="/register">Signup now</a>
            </div> -->
      </form>
    </div>
  </body>
</html>
